body{
  background-color: rgb(40, 40, 40);
}

.navbar-menu {
  height: 80px;
  display: flex;
  align-items: center; /* Center logo and items vertically */
}

.logo {
  height: 50px; /* Adjust based on your logo's size for better visibility */
}

/* For very small devices, you might want to adjust font sizes, paddings, etc. */
@media (max-width: 767px) {
  .navbar-menu .menu {
    flex-direction: column;
  }

  .navbar-menu .menu .item {
    padding: 10px 15px; /* Adjust padding for smaller screens */
  }
}




.ui.grid > .row > .column {
  padding: 1rem;
}

.ui.image img {
  border-radius: 4px; /* Adds a slight rounding to the corners of the images */
  object-fit: cover; /* Ensures images cover the space without stretching */
  height: 200px; /* Adjust based on your preference */
  width: 100%;
}